dt {
    margin-top: 6px;
}

/* Better color for linked headers */
h1 a,
h2 a,
h3 a {
    color: #333;
}

footer {
    margin-top: 20ex;
}

/* Out of site link */
a[rel="external"] {
  padding-right: 10px;
}

.navbar-nav a[rel="external"] {
  padding-right: 10px;
}

a[rel="external"]:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  content: "\e164"; /* glyphicon-new-window */
  padding-left: 2px;
  font-size: 51%;
}

.navbar-nav a[rel="external"]:after {
    font-size: 100%;
}

a[rel="external"]:hover:after {
  text-decoration: none;
}


/* col-sm-5 col-md-4 col-lg-3 
 =>  2           3       4    */
@media (min-width: 768px) and (max-width: 991px) {
div.row div:nth-of-type(2n+1) { clear: both; }
}
@media (min-width: 992px) and (max-width: 1199px) {
div.row div:nth-of-type(3n+1) { clear: both; }
}
@media (min-width: 1200px) {
div.row div:nth-of-type(4n+1) { clear: both; }
}
@media (prefers-color-scheme: dark) {
    body {
	background-color: #2e3440;
	color: #ffffff;
    }
    code,
    pre {
	background-color: #1d232e;/*#3b4252*/;
	color: #eceff4;
    }
    a {
	color: #8699bb;
    }
    a:hover,
    a:focus {
	color: #5e81ac;
    }
}
